    <section class="project_description" role="banner">
      <h1 class="project_name"><%= project_name %></h1>
      <h2 class="accessible" id="project_description">Description</h2>
      <p><%= project_description %></p>
      <a href="#" class="show_more">Show more details</a>
    </section>