<%
  sitemap = get_sitemap resources
%><nav role="navigation">
  <strong class="navigation_title">Index <a href="#" class="nav-toggle" data-toggle></a></strong>
  <ul class="navigation_links">
    <% sitemap.each do |group, items| 
         unless items.empty? %>
    <li>
      <a href="#" class="resource_type"><%= group.to_s %></a>
      <ul class="resources_list">
        <% items.each do |item_name, data| %>
          <li class="resource"><a href="<%=url_for data%>"><%=item_name%></a></li>
        <% end %>
      </ul>
    <li>
    <%  end 
    end %>
  </ul>
</nav>